/* Soluzione qui */

@media (min-width:768px) {
  #topbar {
    justify-content: start;
  }

  #logo{
    font-size: 4rem;
  }
  .container {
    padding: 20px;
  }
  .recipe-origin {
    display: inline-block;
  }
  .quick-notes ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .btn {
    padding: 15px 50px;
  }
  
  .clearfix img {
    float: left;
    padding-right: 10px;
  }
  


  
}