/* Soluzione qui */

@media (min-width:768px) {
  #topbar {
    justify-content: start;
  }

  #logo{
    font-size: 4rem;
  }
  .container {
    padding: 20px;
  }
  .recipe-origin {
    display: inline-block;
  }
  .quick-notes ul{
    display: flex;
    flex-wrap: wrap;
  }
  .quick-notes ul li{
    flex-basis: calc(100%/3);
  }
  .btn {
    flex-basis: 20%;
  }
  
  .clearfix img {
    float: left;
    padding-right: 10px;
  }
  .ads{
    display: block;
  }
  .btn-orange {
    padding: 10px 15px;
  }
  
}
@media (min-width:992px) {
  .quick-notes ul{
    display: block;
}
  .recipe-card{
    display: flex;
  }
  .recipe-video{
    flex-basis: 70%;
    max-height: 420px;

  }
  .recipe-info{
    padding: 20px 50px;
    flex-basis: 30%;

  }
  .btn {
    padding: 15px 75px;
  }
  .btn-orange {
    padding: 10px 15px;
  }

  footer{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }






}